// Colors
$orange: #f79730;
$teal: #39b2be;
$dark-teal: #067c89;
$dark-orange: #f77419;
$yellow: #fcd10f;
$light-gray: #dde0e0;
$dark-gray: #545655;
$smoke: #f1f1f1;
$primary: $dark-teal;
$shadow: rgb(156, 156, 156);

* {
    font-family: "Source Sans Pro", sans-serif;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes loadUp {
    from {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes loadUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    /* Animation is paused/delayed between 50% and 100% */
    50%,
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@-webkit-keyframes loadFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes loadFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes loadFromRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes pause-between-iterations {
    /* Other animation is visible for 25% of the time */
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    /* Other animation is hidden for 75% of the time */
    25.1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    animation: fadeIn 1s;
}
.load-left {
    animation: loadFromLeft 0.8s;
}
.load-right {
    animation: loadFromRight 1s;
}
.load-up {
    animation: loadUp 1.8s, pause-between-iterations 1.5s;
}
img.slide-right,
div.slide-right {
    opacity: 0;
}
img.slide-right.activate,
div.slide-right.activate {
    animation: loadFromRight 1s;
    opacity: 1;
}
.loadUp-scroll,
.fadeIn-scroll {
    opacity: 0;
}
.loadUp-scroll.activate {
    animation: loadUp 1s;
    opacity: 1;
}
.fadeIn-scroll.activate {
    animation: fadeIn 1s;
    opacity: 1;
}
body {
    position: relative;
    overflow: hidden;
}
a {
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
    &:hover {
        color: rgba(0, 0, 0, 0.7);
    }
}
.main-content a,
.main-content p {
    color: darken($dark-gray, 5%);
    line-height: 1.35;
}
.main-content a {
    border-bottom: 2px solid $teal;
    transition: all 0.2s;
    &:hover {
        border-bottom: 4px solid $teal;
        color: darken($dark-gray, 10%);
        padding-bottom: 1px;
    }
}
.list-group-item {
    color: rgba(0, 0, 0, 0.55);
}
html {
    overflow-x: hidden;
}
h1 {
    margin-bottom: 0;
}
.home-h1 {
    font-size: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
}
.title {
    background: url("img/h1-bg.jpg") no-repeat;
    background-size: cover;
    color: white;
}
p,
ul,
.btn {
    font-size: 1.3rem;
}
.btn {
    border-radius: 0;
    text-transform: uppercase;
}
a.btn.dark-teal {
    background: $dark-teal;
    border: none;
    color: white;
    font-size: 1.2rem;
    text-align: left;
    letter-spacing: 1px;
    padding: 0.6rem 1rem;
    position: relative;
    transition: all 0.2s;
    max-width: 200px;
    width: 60%;
    &::after {
        content: "";
        background-color: lighten($dark-teal, 6%);
        background-image: url("img/arrow-right.svg");
        background-position: 10px 10px;
        background-repeat: no-repeat;
        background-size: 28px 28px;
        height: 100%;
        line-height: 3;
        width: 50px;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.2s;
    }
    &:hover {
        background: darken($dark-teal, 3%);
        border-bottom: none;
        color: white;
        &::after {
            background-position: 12px 10px;
            background-color: lighten($dark-teal, 3%);
        }
    }
}
h3,
.h3 {
    font-weight: 800;
    font-size: 1.3rem;
    padding-bottom: 1.2rem;
    position: relative;
    margin-bottom: 2.2rem;
    &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 28%;
        height: 5px;
        background: $teal;
        content: "";
        border-radius: 3px;
    }
    &.orange::after {
        background: $orange;
    }
}
.main-content h3,
.testimonials h3 {
    text-transform: uppercase;
}
.testimonials {
    min-height: 690px;
    .carousel-inner {
        overflow: visible;
    }
}
.banner {
    background: url("img/revelationcabinetry-homepage-header.jpg") no-repeat
        center left;
    background-size: auto;
    background-size: cover;
    color: white;
    min-height: 200px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    h2 {
        position: relative;
        text-shadow: 0px 2px 8px #2b2b2b;
        padding-bottom: 1.2rem;
        &::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 60%;
            height: 5px;
            background: $yellow;
            content: "";
            border-radius: 3px;
        }
        span {
            font-size: 1.2rem;
        }
    }
}
.gray-bar {
    background: $smoke;
    padding: 0.8rem 0 0.3rem;
    position: relative;
    line-height: 1;
    p {
        font-size: 1.2rem;
    }
}
.orange-box {
    background: $orange;
    color: white;
    position: absolute;
    box-sizing: border-box;
    padding: 0.75rem 0.9rem;
    right: 2%;
    top: 45px;
    width: 95%;
    &::before {
        content: "";
        border-bottom: 4em solid #f79730;
        border-right: 0em solid transparent;
        border-top: 0;
        border-left: 1.8em solid transparent;
        position: absolute;
        top: -62px;
        right: 0;
    }
    p {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .btn {
        background: white;
        color: $dark-orange;
        padding: 0.5rem 1rem;
        background: white;
        width: 100%;
        text-transform: uppercase;
        border-radius: 0;
        font-size: 0.8rem;
        font-weight: 600;
        transition: 0.3s margin;
        &:hover {
            margin-top: 2px;
        }
    }
}

.navbar {
    padding-bottom: 15px;
    border-bottom: 3px solid;
    &.bg-light {
        background-color: white !important;
    }
}
ul.navbar-nav {
    font-size: inherit;
}

.list-group-item {
    border: none;
    font-size: 1.25rem;
    padding-left: 32px;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 3px;
        background: rgba(0, 0, 0, 0.55);
        &:hover {
            background: rgba(0, 0, 0, 0.7);
        }
    }
}
.dropdown-menu.show,
.dropdown-toggle.show::after {
    -webkit-animation: fadeIn 0.3s alternate;
    /* Safari 4.0 - 8.0 */
    animation: fadeIn 0.3s alternate;
}
.nav-item {
    border-bottom: 1px solid $light-gray;
    &:first-child {
        border-top: 1px solid $light-gray;
    }
    &:last-child {
        border: none;
    }
}
.nav-item.dropdown.dropdown-mega {
    position: static;
}
.nav-item.dropdown.dropdown-mega .dropdown-menu {
    top: auto;
    left: 0;
}

.navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle.show::after {
    display: inline-block;
    margin-left: -18px;
    vertical-align: -3.3em;
    content: "";
    border-bottom: 1em solid #f79730;
    border-right: 1em solid transparent;
    border-top: 0;
    border-left: 1em solid transparent;
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
}
.nav-link.dropdown-toggle.show {
    width: 100%;
    margin-right: -14px;
    padding-bottom: 0;
}
.navbar-toggler .hamburger-toggle {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 11;
    float: right;
}
.navbar-toggler .hamburger-toggle .hamburger {
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    pointer-events: none;
}
.navbar-toggler .hamburger-toggle .hamburger span {
    width: 100%;
    height: 3px;
    position: absolute;
    background: darken($light-gray, 15%);
    border-radius: 2px;
    z-index: 1;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
    left: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger span:first-child {
    top: 10%;
    transform-origin: 50% 50%;
    transform: translate(0% -50%) !important;
}
.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
}
.navbar-toggler .hamburger-toggle .hamburger span:last-child {
    left: 0px;
    top: auto;
    bottom: 10%;
    transform-origin: 50% 50%;
}
.navbar-toggler .hamburger-toggle .hamburger.active span {
    position: absolute;
    margin: 0;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
    top: 45%;
    transform: rotate(45deg);
}
.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
    left: 50%;
    width: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
    top: 45%;
    transform: rotate(-45deg);
}
.navbar-nav {
    min-height: 122px;
}
.icons {
    display: inline-flex;
    margin-left: auto;
}
.icons a {
    transition: all 0.2s ease-in-out;
    padding: 0.2rem 0.4rem;
    color: #ccc !important;
    text-decoration: none;
}
.icons a:hover {
    color: white;
    text-shadow: 0 0 30px white;
}
a.nav-link {
    color: $dark-gray;
    text-transform: uppercase;
}
.nav-item {
    font-weight: 600;
}
.dropdown-menu {
    border-radius: 0;
    margin-left: -4%;
    min-width: 107%;
}
.nav-link.dropdown-toggle.show.current {
    padding-right: 0px;
}
.dropdown-menu {
    border-top: 5px solid $orange;
    border-radius: 0;
    margin-left: -4%;
    min-width: 108%;
    h5 {
        font-size: 1.3rem;
        position: relative;
        padding: 0 10% 12px 0;
        display: inline-block;
        margin-bottom: 0;
        outline: none;
        &::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 5px;
            background: #39b2be;
            content: "";
            border-radius: 3px;
        }
    }
}
.testimonial {
    border-radius: 2rem;
    background-color: white;
    position: relative;
    box-shadow: 0px 3px 10px 4px #eaebed;
    padding: 2rem 3rem;
    p {
        font-size: 1.3rem;
    }
    .name {
        font-size: 1.3rem;
        font-weight: 600;
    }
}
.testimonial-photo {
    height: 75px;
    margin-top: -75px;
    width: 75px;
}
.carousel-control-next,
.carousel-control-prev {
    width: 55px;
    padding: 0.7rem 0rem;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 100%;
    opacity: 0.5;
    background: darken($light-gray, 10%);
    margin-top: 1rem;
    top: auto;
    bottom: auto;
}
.carousel-control-prev {
    left: auto;
    right: 65px;
}
.pull-img-left,
.pull-img-right {
    max-width: 100%;
}
footer {
    background: url("img/footer-bg.jpg") no-repeat;
    background-size: cover;
    color: white;
    a,
    a:hover {
        color: white;
        text-decoration: none;
        transition: all 0.2s;
    }
    a:hover {
        border-bottom: 1px solid white;
    }
    p {
        font-size: 1.2rem;
    }
    h4 {
        position: relative;
        &::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 33%;
            height: 5px;
            background: #fcd10f;
            content: "";
            border-radius: 3px;
        }
    }
    .phone,
    .email {
        position: relative;
        padding-left: 3.5rem;
        &::before {
            content: "";
            background-image: url("img/phone.svg");
            background-repeat: no-repeat;
            background-size: 42px 42px;
            height: 100%;
            line-height: 17;
            width: 53px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .email {
        &::before {
            background-image: url("img/email.svg");
            background-repeat: no-repeat;
        }
    }
    img {
        height: 40px;
        width: 40px;
        transition: all 0.2s;
        &:hover {
            opacity: 0.7;
        }
    }
    .follow-us a:hover {
        border: none;
    }
    ul {
        list-style: none;
        li {
            background: url(img/checkbox.svg) 0 3px no-repeat;
            padding-left: 37px;
        }
    }
}
.footer {
    background: rgb(17, 112, 122);
    background: -moz-linear-gradient(
        180deg,
        rgba(17, 112, 122, 1) 11%,
        rgba(6, 124, 137, 1) 32%,
        rgba(18, 112, 122, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(17, 112, 122, 1) 11%,
        rgba(6, 124, 137, 1) 32%,
        rgba(18, 112, 122, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(17, 112, 122, 1) 11%,
        rgba(6, 124, 137, 1) 32%,
        rgba(18, 112, 122, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11707a",endColorstr="#12707a",GradientType=1);
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
    ul,
    p {
        font-size: 1.1rem;
        margin-bottom: 0;
        width: 100%;
    }
    p {
        padding: 0.5rem 0;
    }
    .d-flex {
        justify-content: space-between;
    }
    .list-group-item {
        background-color: transparent;
        border-bottom: 1px solid #14626a;
        color: white;
        text-align: center;
        &::before {
            background: none;
        }
        a {
            font-size: 1.1rem;
            transition: all 0.2s;
        }
        a:hover {
            border-bottom: 1px solid white;
            opacity: 0.7;
        }
        &:first-child {
            border-top: 1px solid #14626a;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
/*
*   MEDIA QUERIES
*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .dropdown-menu {
        border-radius: 0;
        margin-left: -23%;
        min-width: 146%;
    }
    .orange-box {
        width: auto;
    }
    .btn.dark-teal {
        width: 59%;
    }
    .container,
    .container-sm {
        max-width: 635px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container {
        max-width: 770px;
    }
    .nav-item {
        border-bottom: none;
        &:first-child {
            border-top: none;
        }
        &:last-child {
            border: none;
        }
    }
    .dropdown-menu {
        img {
            margin-top: -80px;
        }
    }
    .banner {
        background: url("img/revelationcabinetry-homepage-header.jpg") no-repeat
            center right;
        background-size: auto;
        background-size: cover;
        min-height: 400px;
        h2 {
            padding-bottom: 2rem;
            text-shadow: 2px 2px 8px $dark-gray;
            span {
                font-size: 2rem;
            }
        }
    }
    h2,
    .h2 {
        font-size: 2.5rem;
    }
    h3,
    .h3 {
        font-size: 2rem;
    }
    .gray-bar {
        padding: 1.2rem 0 0.5rem;
        p {
            font-size: 1.8rem;
        }
    }
    .orange-box {
        right: 3%;
        top: 15px;
        &::before {
            border-left: 2.5em solid transparent;
        }
        .btn {
            font-size: 0.9rem;
        }
    }
    .btn.dark-teal {
        width: 75%;
    }
    .testimonial-photo {
        height: 100px;
        width: 100px;
    }
    .footer {
        background: url("img/footer-small-bg.jpg") no-repeat;
        background-size: cover;
    }
    .pull-img-left {
        margin-left: -40%;
        max-width: 130%;
    }
    .pull-img-right {
        max-width: 255%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    h3,
    .h3 {
        &::after {
            right: 12%;
        }
    }
    p,
    .btn {
        font-size: 1.6rem;
    }
    .container {
        max-width: 960px;
    }
    a.nav-link {
        border-top: transparent 3px solid;
        padding-top: 40px;
        padding-bottom: 0;
        &:hover,
        &.current {
            border-top: $orange 3px solid;
        }
    }
    .navbar {
        border-bottom: medium none;
        margin-bottom: 0;
        padding-top: 0;
    }
    .nav-item {
        margin-left: 7px;
        margin-right: 7px;
    }
    .dropdown-item {
        font-size: 1.3rem;
        &:before {
            content: "";
            content: "";
            position: absolute;
            left: 43%;
            top: 45px;
            width: 100px;
            height: 2px;
            background-color: $teal;
            margin-left: -50px;
        }
    }
    .dropdown-menu {
        border-top: 5px solid $orange;
        margin-left: 0;
        min-width: 100%;
        h5 {
            font-size: 2rem;
            position: relative;
            padding: 0 10% 0 0;
            display: inline-block;
            margin-bottom: 0;
            outline: none;
            &::after {
                position: absolute;
                top: 100%;
                left: 0;
                width: 68%;
                height: 5px;
                background: #39b2be;
                content: "";
                border-radius: 3px;
            }
        }
    }
    .dropdown-menu[data-bs-popper] {
        top: 100%;
        left: 0;
        margin-top: 0;
    }
    .banner {
        min-height: 400px;
    }
    .orange-box {
        padding: 1.5rem 2rem 1.5rem;
    }
    .btn.dark-teal {
        width: 60%;
    }
    .pull-img-left {
        margin-left: -35%;
    }
    .footer {
        background: url("img/footer-small-bg.jpg") no-repeat;
        background-size: cover;
        .list-group-item {
            border-bottom: none;
            a:hover {
                border-bottom: 1px solid white;
                opacity: 0.7;
            }
            &:first-child {
                border-top: none;
            }
            &:last-child {
                border-bottom: none;
            }
        }
        ul {
            width: auto;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .banner {
        min-height: 600px;
        h2 {
            text-shadow: none;
        }
    }
    .orange-box {
        padding: 1.5rem 2rem 1.5rem;
        right: 21%;
        top: 12px;
        &::before {
            border-left: 4.5em solid transparent;
            border-bottom: 6em solid $orange;
            content: "";
            top: -85px;
            right: 0;
        }
        p {
            font-size: 2.1rem;
            margin-bottom: 0.8rem;
        }
        .btn {
            font-size: 1.3rem;
            padding: 1rem 2rem;
            &:hover {
                margin-top: 2px;
            }
        }
    }
    .testimonials {
        min-height: 515px;
    }
    .mt-xl-6 {
        margin-top: 5rem !important;
    }
    .mt-xl-14 {
        margin-top: 10rem !important;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .container {
        max-width: 1380px;
    }
    .banner {
        min-height: 800px;
        h2,
        .h2 {
            font-size: 3.2rem;
        }
    }
    .btn.dark-teal {
        width: 52%;
    }
}
// XXX-Large devices (larger desktops, 1800px and up)
@media (min-width: 1800px) {
    .container {
        max-width: 1720px;
    }
    .banner {
        min-height: 1000px;
    }
    .gray-bar {
        p {
            font-size: 2.6rem;
        }
    }
    .btn.dark-teal {
        width: 42%;
    }
    .pull-img-left {
        margin-left: -50%;
        max-width: 140%;
    }
    .pull-img-right {
        max-width: 185%;
    }
    .mt-xxxl-14 {
        margin-top: 10rem !important;
    }
}
