// Colors
$orange: #f79730;
$teal: #39b2be;
$dark-teal: #067c89;
$dark-orange: #f77419;
$yellow: #fcd10f;
$light-gray: #dde0e0;
$dark-gray: #545655;
$smoke: #f1f1f1;
$primary: $dark-teal;

* {
    font-family: "Source Sans Pro", sans-serif;
}
.home-h1 {
    font-size: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
}
.navbar-brand {
    display: none;
}
a.nav-link {
    color: $dark-gray;
    text-transform: uppercase;
}
.nav-item {
    font-weight: 600;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    a.nav-link {
        border-top: transparent 3px solid;
        padding-top: 40px;
        &:hover,
        &.current {
            border-top: $orange 3px solid;
        }
    }
    .navbar {
        padding-top: 0;
    }
    .nav-item {
        margin-left: 5px;
        margin-right: 5px;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
